# This is an example .env file. Copy this to a new file named `.env` and fill in the appropriate values.

# Path to the Endfield game data directory. This folder should contain `TableCfg`.
ENDFIELD_DATA_DIR="/path/to/AKEData"
