@import 'tailwindcss';
@import '@nuxt/ui';
@import './corner-shape/corner-shape-utilities.css';
@import './corner-shape/squircle-corner.css';

:root {
  --chinese-font: 'HarmonyOS Sans SC', '鸿蒙黑体', 'Source Han Sans SC', '思源黑体', 'Noto Sans SC';
  --ui-header-height: 3rem;
  --ui-title-height: 1.875rem;
}

@layer base {
  html {
    font-feature-settings: 'calt' on;
  }

  html,
  body,
  #app {
    @apply m-0 h-full p-0;
  }

  ::-webkit-scrollbar {
    @apply w-1.75;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-(--ui-text-dimmed)/50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-(--ui-text-dimmed)/90;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

@theme static {
  --font-sans: var(--chinese-font), sans-serif;
  --font-mono:
    'JetBrains Mono', 'Google Sans Code', 'Cascadia Mono', 'Consolas', var(--chinese-font),
    monospace;
  --font-ui: system-ui; /* 供应用标题栏使用 */
}

@layer components {
  .markdown-body {
    @apply text-sm;

    :first-child {
      @apply mt-0;
    }

    :last-child {
      @apply mb-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-[1em] mb-[0.5em] font-bold;
    }

    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
    }

    h3 {
      @apply text-base;
    }

    p {
      @apply my-1.5;
    }

    ul,
    ol {
      @apply my-1.5 ps-4;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    li {
      @apply my-1.5;
    }

    a {
      @apply text-primary hover:text-primary/75;
    }

    code {
      @apply rounded-sm bg-elevated px-1 py-0 font-mono;
    }

    pre {
      @apply my-1.5 overflow-x-auto rounded-md border border-default bg-elevated px-3 py-2;

      code {
        @apply rounded-none bg-transparent p-0;
      }
    }

    blockquote {
      @apply my-3 border-s-2 border-default ps-2 text-muted;
    }

    hr {
      @apply my-3;
    }

    strong {
      @apply font-bold;
    }

    table {
      @apply my-3 w-full border-collapse border-y border-inverted;

      thead {
        tr {
          @apply border-b border-inverted bg-elevated;
        }
      }

      tbody {
        tr:nth-child(even) {
          @apply bg-elevated;
        }
      }

      th,
      td {
        @apply px-2 py-1;
      }
    }
  }
}
