@import 'tailwindcss';
@import '@nuxt/ui';
@import './corner-shape/corner-shape-utilities.css';
@import './corner-shape/squircle-corner.css';

:root {
  --chinese-font: 'HarmonyOS Sans SC', '鸿蒙黑体', 'Source Han Sans SC', '思源黑体', 'Noto Sans SC';
  --ui-header-height: 3rem;
}

@layer base {
  html {
    font-feature-settings: 'calt' on;
  }

  html,
  body,
  #app {
    @apply m-0 h-full p-0;
  }

  ::-webkit-scrollbar {
    @apply w-1.75;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-(--ui-text-dimmed)/50;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-(--ui-text-dimmed)/90;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

@theme static {
  --font-sans: var(--chinese-font), sans-serif;
  --font-mono:
    'JetBrains Mono', 'Google Sans Code', 'Cascadia Mono', 'Consolas', var(--chinese-font),
    monospace;
  --font-ui: system-ui; /* 供应用标题栏使用 */

  /* --color-green-50: oklch(90.98% 0.04338 166.72);
  --color-green-100: oklch(88.46% 0.05417 166.29);
  --color-green-200: oklch(83.957% 0.07763 165.13);
  --color-green-300: oklch(79.343% 0.09927 163.52);
  --color-green-400: oklch(74.927% 0.11835 162.26);
  --color-green-500: oklch(70.253% 0.13197 160.37);
  --color-green-600: oklch(58.426% 0.10793 160.73);
  --color-green-700: oklch(45.657% 0.08188 161.06);
  --color-green-800: oklch(32.298% 0.05338 161.83);
  --color-green-900: oklch(17.276% 0.02184 161.78); */
}

@layer components {
  .markdown-body {
    @apply text-sm;

    :first-child {
      @apply mt-0;
    }
    :last-child {
      @apply mb-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-[1em] mb-[0.5em] font-bold;
    }
    h1 {
      @apply text-xl;
    }
    h2 {
      @apply text-lg;
    }
    h3 {
      @apply text-base;
    }
    p,
    ul,
    ol,
    li {
      @apply my-1.5;
    }
    ul,
    ol {
      @apply ps-4;
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }
    a {
      @apply text-primary hover:text-primary/75;
    }
    code {
      @apply rounded-sm bg-elevated px-1 font-mono;
    }
    pre {
      @apply my-1.5 overflow-x-auto rounded-md border border-default bg-elevated px-3 py-2;
    }
    pre code {
      @apply rounded-none bg-transparent p-0;
    }
    blockquote {
      @apply my-3 border-s-2 border-default ps-2 text-muted;
    }
    hr {
      @apply my-3;
    }
    strong {
      @apply font-bold;
    }
    table {
      @apply my-3 w-full border-collapse border-y border-inverted;
    }
    thead tr {
      @apply border-b border-inverted bg-elevated;
    }
    tbody tr:nth-child(even) {
      @apply bg-elevated;
    }
    th,
    td {
      @apply px-2 py-1;
    }
  }
}

.dark {
  /* --ui-primary: var(--ui-color-primary-500); */
}
